*.csv
*.mp4
*.png
*.jpg
*.err
*.txt
*.log
*.pyc
*.pth
*.DS_Store*
*.o
*.so
*.egg*
*.json
*.zip
*.jpeg
*.pkl
*.gif
*.pem
*.npy
*.sh
*.out
*.npz
scratch/*


pretrained/*
checkpoints/*
preprocess/sam2_code

!preprocess/oneformer_code/oneformer/data/bpe_simple_vocab_16e6.txt
!config/*.json
!requirements.txt
!requirements/*
!__assets__/*
!__assets__/page/*
preprocess/.deps/*